.navContainer {
  padding-left: 10%;
  padding-right: 10%;
}

.underline {
  text-decoration: none;
}

.link {
  color: green;
}

.bg {
  display: flex;
  background: rgb(236, 125, 181);
  background: linear-gradient(
    34deg,
    rgba(236, 125, 181, 1) 0%,
    rgba(161, 181, 230, 1) 100%
  );
}

.navTitle {
  font-family: "Pacifico", sans-serif;
  letter-spacing: 3px;
  color: crimson;
  flex-grow: 1;
}

.logo {
  font-family: "Pacifico", sans-serif;
  letter-spacing: 3px;
  font-size: xx-large;
  color: crimson;
  margin-bottom: 30px;
  margin-top: 5px;
}

.mb {
  margin-bottom: 40px;
}

/* Image Grid */

.photoEffects {
  border-radius: 5px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.photoEffects:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Image CSS */
.thumbImage {
  margin: auto;
  filter: drop-shadow(1rem 1rem 1rem grey);
  animation: up-down 4s ease-in-out infinite
    alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
